<%- include("includes/head.ejs"); %>

  <body>
    <h1>Welcome to Home Page</h1>
    <h2>Using Interpolation Syntax</h2>
    <h3>
      <%= 1 + 2 %>
    </h3>
    <h3>
      <%= "mohit kucheriya" .toUpperCase() %>
    </h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, maxime
      nulla iste dolorem aliquam odio! Eligendi necessitatibus perspiciatis
      accusamus ratione, modi delectus aspernatur voluptates! Ullam!
    </p>
    <button>Click me!</button>
    <%- include("includes/footer.ejs"); %>

  </body>

  </html>