/* ALL Q N ANS 1-5 */
* {
  text-align: center;
}

#maintopic {
  color: blue;
}

h1,
h3,
h5 {
  font-family: Georgia;
}

.paragraph {
  color: white;
  background-color: cornflowerblue;
}

div button {
  background-color: purple;
  color: azure;
}

/* ALL Q N ANS 6-10 */
button:hover {
  background-color: yellow;
  color: blue;
}

p:nth-of-type(odd) {
  color: yellow;
}

h1::first-letter {
  color: red;
}

input[type="checkbox"]:checked + label {
  font-weight: bold;
  color: darkgreen;
}
