.card {
  height: 220px;
  width: 220px;
  border: 2px solid black;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black;
  transition: 2s ease-in-out 0.2s;
}

img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px;
}

.info {
  padding: 0 5px 0 5px;
}

.card:hover {
  box-shadow: 2px 2px 8px black;
  transform: scale(1);
}

